/* Menu */

.menu {
    @media (max-width: 767px) {
        position: fixed;
        inset: 64px 0 auto;

        padding-block-end: 16px;
        background-color: inherit;

        &:not(.menu--open) {
            display: none;
        }
    }
}

/* List */

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 768px) {
        display: flex;
        column-gap: 30px;
    }

    @media (min-width: 840px) {
        column-gap: 60px;
    }
}

/* Link */

.menu__link {
    font-weight: var(--font-weight-semibold);
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: var(--color-primary);
    }

    &[aria-current] {
        color: var(--color-primary);
    }

    @media (max-width: 767px) {
        display: block;
        padding: 12px 20px;
    }

    @media (min-width: 768px) {
        font-size: 13px;
        padding-block: 8px;
    }
}
